<div class="row">
  <div class="col offset-3">
    <img [src]="currentImageData" alt="Img Should Be Here" class="questionimg">
  </div>
  <div class="w-100"></div>
  <div class="col-3 offset-4 questiondiv">
    <label for="inputQuestion">Question</label>
    <input type="text" class="form-control" id="inputQuestion" readonly value="{{question?.question}}">
  </div>
  <div class="row below-img">
    <div class="col-3 offset-2 form-group">
      <label for="inputA1">Answer 1 (Correct Answer)</label>
      <input type="text" class="form-control" id="inputA1" readonly value={{question?.answers[0].answertext}}>
    </div>
    <div class="col-3 offset-2 form-group">
      <label for="inputA2">Answer 2</label>
      <input type="text" class="form-control" id="inputA2" readonly value={{question?.answers[1].answertext}}>
    </div>
    <div class="w-100"></div>
    <div class="col-3 offset-2 form-group">
      <label for="inputA3">Answer 3</label>
      <input type="text" class="form-control" id="inputA3" readonly value={{question?.answers[2].answertext}}>
    </div>
    <div class="col-3 offset-2 form-group">
      <label for="inputA4">Answer 4</label>
      <input type="text" class="form-control" id="inputA4" readonly value={{question?.answers[3].answertext}}>
    </div>
    <div class="w-100"></div>
    <div class="offset-1">
      <button type="button" class="btn btn-primary" [disabled]="pageNumber==1" (click)="previousPage()"> << </button>
    </div>
    <div class="offset-1">
      <button type="button" class="btn btn-primary" routerLink="/question/form"> Add Question </button>
    </div>
    <div class="offset-1">
      <button type="button" class="btn btn-primary" (click)="editQuestion()"> Edit Question </button>
    </div>
    <div class="offset-1">
      <button type="button" class="btn btn-primary" (click)="deleteQuestion()"> Delete Question </button>
    </div>
    <div class="offset-1">
      <button type="button" class="btn btn-primary" [disabled]="!hasMorePages" (click)="nextPage()"> >> </button>
    </div>
  </div>
</div>
